<div class="ad-feedback popup__toggle" data-toggle="<%=slot%>__popup--feedback"
   aria-haspopup="true" aria-controls="ad-feedback-menu__<%=slot%>"></div>

<div class="ad-feedback popup popup--default popup__group <%=slot%>__popup--feedback is-off" id="ad-feedback-menu__<%=slot%>">
    <h3 class="ad-feedback popup__group-header">
        To help improve the ad experience on the Guardian, please select from the following:
    </h3>
    <ul>
        <% for(field in formFields) { %>
            <label for="name">Name<span></span></label>
            <input name="name" required="true" type="text">
        <% } %>
    </ul>
</div>
