
<form action="/formstack-campaign/submit" method="post" class="campaign--snippet__body">

    <% data.formFields.forEach(function(field) { %>

    <div class="form_input form_input--<%=field.type%>">
        <div class="form_field">
            <label for="<%=field.name%>"
                   class="form_field_label">
                <%= field.label %>
                <span><%= field.description %></span>
            </label>

            <% if(field.type === "textarea") { %>
            <textarea name="field_<%=field.id%>"
            <% if (field.required === "1") { %>
            required="true" <% } %>
            />
            </textarea>

            <% } else if(field.type === "radio" || field.type === "checkbox") { %>
            <% field.options.forEach(function(option){ %>
            <input type="<%=field.type%>"
                   value="<%=option.value%>"
                   id="<%=option.label%>"
                   name="field_<%=field.id%>"
            <% if (field.required === "1") { %>
            required="true"
            <% } %>
            />
            <label for="<%=option.label%>">
                <%=option.value%>
            </label>
            <% }) %>

            <% } else if(field.type === "select") { %>
            <select name="field_<%=field.id%>"
            <% if (field.required === "1") { %>
            required="true"
            <% } %>
            >
            <% field.options.forEach(function(option){ %>
            <option value="<%=option.value%>">
                <%=option.value%>
            </option>
            <% }) %>

            </select>

            <% } else { %>
            <input name="field_<%=field.id%>"
                   type="<%=field.type%>"
            <% if (field.required === "1") { %>
            required="true"
            <% } %>
            />
            <% } %>
        </div>
    </div>

    <% }) %>

    <div class="form_footer">
        <div class="form_submit">
            <button class="button button--rounded" type="submit">Share with the Guardian</button>
        </div>
        <div class="t_and_c">
            <a href="">Terms and conditions</a>
        </div>
    </div>

</form>
